.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    border-radius: 9px;
    height: 6.4rem;
    border: 1px solid black;
    padding: 2.4rem;
    font-size: 3.6rem;
}

.input::placeholder {
    color: #ccc;
}

.c_code {
    width: 16rem;
}

.p_number {
    width: 30.5rem;
}

.form_lable {
    padding-top: 1.2rem;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.form_button {
    margin-top: 2.4rem;
    height: 6.4rem;
    width: 16rem;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(28, 115, 230);
    border: none;
    color: white;
}

.form_button:hover {
    background-color: white;
    color: rgb(28, 115, 230);
    border: 1px solid black;
}